*{
    padding: 0;
    margin: 0;
}

body{
    background-color: teal;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    align-items: center;
    height:100vh;
    width:100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.wrapper{
    height:100vh;
}
canvas{
    height: 700px;
    width:880px;
    margin: 0;
    margin-top: 90px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: transparent;
    outline: none;
    color:white;
    border:3px solid white;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 50%;
    display: flex;
    height: 50px;
    width:50px;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}


.button:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

i{
    font-size: 20px;
    transition: all 0.2s;
}

i:hover{
}

.message{
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 98;
    font-size: 70px;
    font-weight: 900;
    color: teal;
}




.rulesBtn{
    z-index: 99;
    color: white;
    position: fixed;
    top:40px;
    left:40px;
    cursor: pointer;
    transition: all 0.2s;
}
.rulesBtn>i{
    font-size: 30px;
}
.rulesBtn:hover{
    transform: scale(1.2);
}
.overlay{
    position: fixed;
    top:0;
    display: flex;
    display: none;
    z-index: 100;
    left:0;
    height: 100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0.5;
}
.ruleList{
    z-index: 101;
    background-color: rgb(4, 68, 62);
    width:400px;
    color: white;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    display: none;
}

ul{
    padding: 0px 10px;
    list-style: circle outside none;
}
li{
    font-size: 20px;
    margin: 20px;
}
h1{
    padding-top: 40px;
    text-align: center;
    margin: 10px 40px;
}